<div class="exception-body">
    <div class="exception-topbar">
        <a href="#"  class="logo">
            <img src="assets/demo/images/excellent_bussines_marca.png" alt="ecuador-layout"/>
        </a>
    </div>
    <div class="exception-panel">
        <div class="top">
            <img src="assets/demo/images/excellent_bussines_marca.png" alt="">
            <span style="color: #1B1B1B; margin-top: 40px;">Ha completado su regitro</span>
            <div class="seperator"></div>
        </div>
        <div class="bottom">
            <span class="exception-panel-header">Dentro de unos instantes le llegará un correo electrónico con sus códigos de REGISTRO OFICIAL.</span>
        </div>
    </div>
</div>
