<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <h4 *ngIf="!selectedAccreditation">Escoga una acreditación</h4>
            <h4 *ngIf="selectedAccreditation">Mostrando beneficios de la acreditación seleccionada:</h4>
            <p-dropdown 
                [filter]="true" 
                filterBy="description"
                [options]="accreditations" 
                [(ngModel)]="selectedAccreditation" 
                placeholder="Seleccione una acreditación"
                optionLabel= "description" 
                (onChange)="updateBenefitsTable($event)"/>

        </div>
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Asignar beneficios" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()" [disabled]="!selectedAccreditation"></button>
                        <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedEntities()" [disabled]="!selectedEntities || !selectedEntities.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt 
                [value]="listedBenefits" 
                [columns]="cols" 
                responsiveLayout="scroll" 
                [rows]="10" 
                [globalFilterFields]="['description']" 
                [rows]="10" 
                [paginator]="true" 
                [rowsPerPageOptions]="[10,20,30]" 
                [showCurrentPageReport]="true" 
                currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas" 
                [(selection)]="selectedEntities" 
                selectionMode="multiple" 
                [rowHover]="true" 
                dataKey="id">
                
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Beneficios</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th *ngFor="let col of columns" pSortableColumn={{col.field}}>
                            {{ col.header }}
                            <p-sortIcon field={{col.field}}></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-benefit>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="benefit"></p-tableCheckbox>
                        </td>
                        <td style="width:85%; min-width:10rem;">
                            <span class="p-column-title">Descripción</span>
                            {{ benefit.description }}
                        </td>
                        <td style="width:10%; min-width:10rem;text-align:center">
                            <span class="p-column-title">Cupos asignables</span>
                            {{ benefit.quantity }}
                        </td>

                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteEntity(benefit)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>


        <p-dialog [(visible)]="entityDialog" [style]="{width: '75%', display:'flex'}" header="Asignación de beneficio" [modal]="true" class="p-fluid">

            <ng-template pTemplate="content">
                <p-table #newBenefitTable 
                [value]="allBenefits" 
                [columns]="cols_newBenefit" 
                responsiveLayout="scroll" 
                [rows]="10" 
                [globalFilterFields]="['description']" 
                [paginator]="true" 
                [rowsPerPageOptions]="[10,20,30]" 
                [showCurrentPageReport]="true" 
                currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas" 
                [(selection)]="selectedAccreditation.benefits" 
                selectionMode="multiple" 
                [rowHover]="true" 
                dataKey="id">
                
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(newBenefitTable, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th *ngFor="let col of columns" pSortableColumn={{col.field}}>
                            {{ col.header }}
                            <p-sortIcon field={{col.field}}></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-benefit>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="benefit"></p-tableCheckbox>
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">Descripción</span>
                            {{ benefit.description }}
                        </td>

                    </tr>
                </ng-template>
            </p-table>
                
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveEntity()" [disabled]="!selectedAccreditation.benefits"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteEntityDialog" header="Confirmacion" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="benefit">Esta seguro que quiere eliminar al beneficio <b>{{benefit.description}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteEntitiesDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteEntitiesDialog" header="Confirmacion" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Seguro que desea eliminar los beneficios seleccionados?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteEntitiesDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>
