<div class="layout-topbar">
    <a href="#" id="topbar-menu-button" (click)="app.onMenuButtonClick($event)">
        <i class="pi pi-angle-left arrow"></i>
        <i class="pi pi-angle-up mobile"></i>
    </a>

    <div class="search-input">
        <i class="pi pi-search icon-search"></i>
        <input type="text"/>
    </div>

    <a href="/" class="logo-container">
        <img src="assets/layout/images/ecuador-logo.png" alt="ecuador-layout" />
    </a>

    <a id="topbar-profile-menu-button" href="#" (click)="app.onTopbarMenuButtonClick($event)">
        <span>Jeniffer Reynolds</span>
        <img src="assets/layout/images/avatar.png" alt="ecuador-layout" class="topbar-profile" />
        <i class="pi pi-caret-down"></i>
    </a>

    <ul id="topbar-usermenu" class="fadeInDown animated" [ngClass]="{'usermenu-active': app.topbarMenuActive}">
        <li>
            <a routerLink="/login" (click)="app.onTopbarSubItemClick($event)">
                <span class="topbar-item-name" >Cerrar session</span>
            </a>
        </li>

    </ul>



</div>
