<div class="layout-topbar" style="background-color: #1C8177 !important; background-image: none !important;">
    <a href="#" id="topbar-menu-button" (click)="app.onMenuButtonClick($event)">
        <i class="pi pi-angle-left arrow"></i>
        <i class="pi pi-angle-up mobile"></i>
    </a>

    <a href="/" class="">
        <img style="margin-top: 10px" width="150" src="assets/demo/images/discoverlogo.png" alt="ecuador-layout" />
    </a>

    <a id="topbar-profile-menu-button" href="#" (click)="app.onTopbarMenuButtonClick($event)">
        <span>{{username}}</span>
        <i class="pi pi-caret-down"></i>
    </a>

    <ul id="topbar-usermenu" class="fadeInDown animated" [ngClass]="{'usermenu-active': app.topbarMenuActive}">
        <li>
            <a routerLink="/login" (click)="app.onTopbarSubItemClick($event)">
                <span class="topbar-item-name" >Cerrar session</span>
            </a>
        </li>

    </ul>



</div>
