


<div class="createAccount-body">
    
    <div class="createAccount-topbar">
        <img class="logo" src="assets/demo/images/login/logo2.png" alt="bussiness logo"/>
    </div>
    <div class="createAccount-image">
        <div class="createAccount-panel">
            <img class="logo" src="assets/demo/images/login/logo2.png"  alt="bussiness logo"/>

            <div class="p-col-12">
                <div class="input-wrapper">
                    <input [(ngModel)]="newUser.username" type="text" autocomplete="off" placeholder="Nombre de usuario" pInputText class="p-inputtext p-component p-element">
                </div>
            </div>
            <div class="p-col-12">
                <div class="input-wrapper">
                    <input [(ngModel)]="newUser.password" type="password" autocomplete="off" placeholder="Contraseña" pInputText class="p-inputtext p-component p-element">
                </div>
            </div>

            <div class="checkbox-container">
                <a routerLink="/login" class="subinfo p-auto">
                    <span>Cancelar</span>
                </a>

                <button type="button" pButton class="p-element p-button p-component" (click)="saveNewUser()">
                    <span class="p-button-label" >Crear cuenta</span>
                </button>
            </div>

        </div>
    </div>
</div>