<div class="exception-body">
    <div class="form-topbar">
        <img class="logotopbar" src="assets/demo/images/excellent_bussines_marca.png" alt="ecuador-layout"/>
        <p-messages class="topbar-messages" [value]="msgs"></p-messages>
    </div>

    <form (ngSubmit)="submitForm()" #myForm="ngForm" class="form-body">
        <div class="grid">
            <div class="col-12">
                <div class="card">
                    <h3>Formulario para registro de persona</h3>
                </div>
            </div>

        </div>

        <div class="grid">
            <div class="col-12">
                <div class="card card-item">
                    <label htmlFor="names">Nombres</label>
                    <input pInputText required id="names" name="names" [(ngModel)]="person.names" [ngClass]="{'ng-invalid ng-dirty' : submitted && !person.names}" />
                    <small class="empty-warning"  *ngIf="submitted && !person.names">Debe poner sus nombres</small>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <div class="card card-item">
                    <label htmlFor="surnames">Apellidos</label>
                    <input pInputText required id="surnames" name="surnames" [(ngModel)]="person.surnames" [ngClass]="{'ng-invalid ng-dirty' : submitted && !person.surnames}" />
                    <small class="empty-warning"  *ngIf="submitted && !person.surnames">Debe poner sus apellidos</small>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <div class="card card-item">
                    <label htmlFor="province">Provincia</label>
                    <p-dropdown
                        id="province"
                        name="province"
                        [options]="provinces"
                        [(ngModel)]="person.province"
                        [showClear]="true"
                        placeholder="Escoga una provincia"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !person.province}"
                        autoWidth="false"
                        [style]="{'width':'60%'}" >
                    </p-dropdown>
                    <small class="empty-warning"  *ngIf="submitted && !person.province">Debe escoger una provincia</small>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <div class="card card-item">
                    <label htmlFor="canton">Cantón</label>
                    <p-dropdown
                        id="canton"
                        name="canton"
                        [options]="cantons"
                        [(ngModel)]="person.canton"
                        [showClear]="true"
                        placeholder="Escoga un cantón"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !person.canton}"
                        autoWidth="false"
                        [style]="{'width':'60%'}" >
                    </p-dropdown>
                    <small class="empty-warning"  *ngIf="submitted && !person.canton">Debe escoger un cantón</small>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <div class="card card-item">
                    <label htmlFor="position">Indicar si es:</label>
                    <div class="flex gap-3">
                        <div *ngFor="let type of people_type" class="field-checkbox">
                            <p-radioButton [inputId]="type.key" name="type" [value]="type" [(ngModel)]="natural_person" (onClick)="changePeopleType(type)"></p-radioButton>
                            <label [for]="type.key" class="ml-2">{{ type.name }}</label>
                        </div>
                    </div>
<!--                    <small class="empty-warning"  *ngIf="submitted && !person.position">Debe llenar con un cargo</small>-->
                </div>
            </div>
        </div>
        <div class="grid" *ngIf="natural_person.key === 'company'">
            <div class="col-12">
                <div class="card card-item">
                    <label htmlFor="position">Indicar cargo que ocupa</label>
                    <p-dropdown
                        id="position"
                        name="position"
                        [options]="charges"
                        [(ngModel)]="person.position"
                        [showClear]="true"
                        [editable]="true"
                        placeholder="llene con un cargo"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !person.position}">
                    </p-dropdown>
                    <small class="empty-warning"  *ngIf="submitted && !person.position">Debe llenar con un cargo</small>
                </div>
            </div>
        </div>
        <div class="grid" *ngIf="natural_person.key === 'company'">
            <div class="col-12">
                <div class="card card-item">
                    <label htmlFor="institution">Institución o empresa a la que pertenece</label>
                    <input pInputText id="institution" name="institution" [(ngModel)]="person.institution" [ngClass]="{'ng-invalid ng-dirty' : submitted && !person.institution}"/>
                    <small class="empty-warning"  *ngIf="submitted && !person.institution">Debe poner indicar alguna entidad</small>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <div class="card card-item">
                    <label htmlFor="phone_number">Número de Whatsapp</label>
                    <input pInputText required id="phone_number" name="phone_number" [(ngModel)]="person.phone_number" [ngClass]="{'ng-invalid ng-dirty' : submitted && !person.phone_number}" />
                    <small class="empty-warning"  *ngIf="submitted && !person.phone_number">Debe poner un número celular</small>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <div class="card card-item">
                    <label htmlFor="email">Correo electrónico</label>
                    <input pInputText required id="email" name="email" [(ngModel)]="person.email" [ngClass]="{'ng-invalid ng-dirty' : submitted && !person.email}"/>
                    <small class="empty-warning"  *ngIf="submitted && !person.email">Debe poner un correo electrónico</small>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <div class="card card-item">
                    <label htmlFor="ticket_given_means">Recibió la entrada a través de: </label>
                    <p-dropdown
                        id="ticket_given_means"
                        name="ticket_given_means"
                        [options]="ticket_given_means_options"
                        [(ngModel)]="person.ticket_given_means"
                        [showClear]="true"
                        [editable]="true"
                        placeholder="Escriba cómo recibió su entrada"
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !person.ticket_given_means}"
                        autoWidth="false"
                        [style]="{'width':'60%'}" >
                    </p-dropdown>
                    <small class="empty-warning"  *ngIf="submitted && !person.ticket_given_means">Debe indicar algún método</small>
                </div>
            </div>
        </div>



        <div class="form-footer">
            <button
                pButton pRipple
                label="Enviar respuesta"
                icon="pi pi-check"
                class="p-button-text"
                [disabled]="sending"
                type="submit">
            </button>
        </div>
    </form>


</div>

<p-dialog header="Enviando Formulario" [(visible)]="showLoading" [modal]="true" [closable]="false" [draggable]="false" [resizable]="false">
    <img src="assets/demo/images/loading.gif" alt="">
</p-dialog>


