.form-body {
    height:100%;
    width: 40%;
    margin:0 auto;
    padding:25vh 0%;
}

.card-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-footer{
    display: flex;
    justify-content: end;
}

.empty-warning{
    color: red;
}

.form-topbar{
    z-index: 1;
    display: flex;
    justify-content: center;
}

.topbar-messages{
    position: absolute;
    right: 10px;
    top: 10px;
}

.form-topbar img.logotopbar  {
    height: 75%;
    width: auto;
    margin: auto 0;
}

