<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedClientAccreditations()" [disabled]="!selectedClientAccreditations || !selectedClientAccreditations.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt 
                [value]="clientAccreditations" 
                [columns]="cols" 
                responsiveLayout="scroll" 
                [rows]="10" 
                [globalFilterFields]="['name','country.name','representative.name','status']" 
                [rows]="10" 
                [paginator]="true" 
                [rowsPerPageOptions]="[10,20,30]" 
                [showCurrentPageReport]="true" 
                currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas" 
                [(selection)]="selectedClientAccreditations" 
                selectionMode="multiple" 
                [rowHover]="true" 
                dataKey="id">
                
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Acreditación relacionada</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th *ngFor="let col of columns" pSortableColumn={{col.field}}>
                            {{ col.header }}
                            <p-sortIcon field={{col.field}}></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-clientAccreditation>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="clientAccreditation"></p-tableCheckbox>
                        </td>
                        <td style="width:35%; min-width:10rem;"><span class="p-column-title">Nombre</span>
                            {{ clientAccreditation.name }}
                        </td>
                        <td style="width:35%; min-width:10rem;">
                            <span class="p-column-title">Descripción</span>
                            {{ clientAccreditation.description }}
                        </td>

                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editClientAccreditation(clientAccreditation)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteClientAccreditation(clientAccreditation)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>


        <p-dialog [(visible)]="clientAccreditationDialog" [style]="{width: '450px'}" header="Detalles del Acreditación relacionada" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Nombre</label>
                    <input type="text" pInputText id="name" [(ngModel)]="clientAccreditation.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !clientAccreditation.name}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !clientAccreditation.name">Debe poner un nombre.</small>
                </div>
                <div class="field">
                    <label for="description">Descripción</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="clientAccreditation.description" required rows="3" cols="20"></textarea>
                </div>

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveClientAccreditation()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteClientAccreditationDialog" header="Confirmacion" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="clientAccreditation">Esta seguro que quiere eliminar al Acreditación relacionada <b>{{clientAccreditation.quantity}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteClientAccreditationDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteClientAccreditationsDialog" header="Confirmacion" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Seguro que desea eliminarlos Acreditación relacionada seleccionados?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteClientAccreditationsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>
