<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <h4 *ngIf="!selectedClientEntity">Escoga un cliente</h4>
            <h4 *ngIf="selectedClientEntity">Mostrando acreditaciones del cliente:</h4>
            <p-dropdown 
                [options]="clientEntities" 
                [(ngModel)]="selectedClientEntity" 
                placeholder="Seleccione un cliente"
                optionLabel= "names" 
                [virtualScroll]="true" 
                [virtualScrollItemSize]="38" 
                [filter]="true" filterBy="names"
                (onChange)="updateClientAcreditationTable($event)"/>

        </div>

        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Agregar acreditación" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()" [disabled]="!selectedClientEntity" ></button>
                        <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedClientAccreditations()" [disabled]="!selectedClientAccreditations || !selectedClientAccreditations.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt 
                [value]="clientAccreditations" 
                [columns]="cols" 
                responsiveLayout="scroll" 
                [rows]="10" 
                [globalFilterFields]="['name','country.name','representative.name','status']" 
                [rows]="10" 
                [paginator]="true" 
                [rowsPerPageOptions]="[10,20,30]" 
                [showCurrentPageReport]="true" 
                currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas" 
                [(selection)]="selectedClientAccreditations" 
                selectionMode="multiple" 
                [rowHover]="true" 
                dataKey="id">
                
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Acreditaciones contratadas</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th *ngFor="let col of columns" pSortableColumn={{col.field}}>
                            {{ col.header }}
                            <p-sortIcon field={{col.field}}></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-clientAccreditation>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="clientAccreditation"></p-tableCheckbox>
                        </td>
                        <td style="width:35%; min-width:10rem;"><span class="p-column-title">Id</span>
                            {{ clientAccreditation.id }}
                        </td>
                        <td style="width:35%; min-width:10rem;">
                            <span class="p-column-title">Acreditación</span>
                            {{ clientAccreditation.accreditation.description || "NAN" }}
                        </td>
                        <td style="width:35%; min-width:10rem;">
                            <span class="p-column-title">Cantidad</span>
                            {{ clientAccreditation.quantity }}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteClientAccreditation(clientAccreditation)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>


        <p-dialog [(visible)]="clientAccreditationDialog" [style]="{width: '450px'}" header="Detalles de la contratación" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="accreditation">Acreditación</label>
                    <br>
                    <p-dropdown 
                        id="accreditation" 
                        style="z-index:5; position:absolute; min-width: 200px; width: 90%"
                        [options]="accreditationEntities"
                        [(ngModel)]="clientAccreditation.accreditation"
                        optionLabel="description"
                        placeholder="Escoga una acreditación"
                        required
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !clientAccreditation.accreditation}"
                        (onChange)="updateSelectedAcreditation($event)">
                    </p-dropdown>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !clientAccreditation.accreditation">Debe elegir una acreditación</small>
                </div>
                <br>
                <br>

                <div class="field">
                    <label for="quantity">Cantidad</label>
                    <input type="number" min="1" pInputText id="quantity" [(ngModel)]="clientAccreditation.quantity"/>
                </div>

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveClientAccreditation()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteClientAccreditationDialog" header="Confirmacion" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="clientAccreditation">Esta seguro que quiere eliminar al Acreditaciones contratadas <b>{{clientAccreditation.accreditation?.description}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteClientAccreditationDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteClientAccreditationsDialog" header="Confirmacion" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Seguro que desea eliminarlos Acreditaciones contratadas seleccionados?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteClientAccreditationsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>
