


<div class="login-body">

    <div class="login-topbar">
        <img class="logotopbar" src="assets/demo/images/login/logo2.png" alt="ecuador-layout"/>

    </div>
    <div class="login-image">
        <div class="login-panel">
            <img src="assets/demo/images/login/logo2.png" alt="ecuador-layout"/>
            <div class="p-col-12">
                <div class="input-wrapper">
                    <input [(ngModel)]="user.username" type="text" autocomplete="off" placeholder="Nombre de usuario" pInputText class="p-inputtext p-component p-element">
                </div>
            </div>
            <div class="p-col-12">
                <div class="input-wrapper">
                    <input [(ngModel)]="user.password" type="password" autocomplete="off" placeholder="Contraseña" pInputText class="p-inputtext p-component p-element">
                </div>
            </div>
            <div class="checkbox-container">

                <button type="button" pButton class="p-element p-button p-component" (click)="login()">
                    <span class="p-button-label">Iniciar sesion</span>
                </button>
            </div>

            <div class="separator"></div>

            <a routerLink="/createAccount" class="subinfo">
                <span>Crear cuenta</span>
            </a>

        </div>
    </div>
</div>
