.login-body {
    margin: 0 auto;
    position: relative;
    height: 100vh;
  }
.login-body .login-image {
    height: 100%;
    background: url("../../../../src/assets/layout/images/bg-image-login.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.login-body .login-topbar {
    height: 60px;
    width: 100%;
    background-color: #F8A800;
    text-align: center;
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
}

.login-body .login-topbar img.logotopbar  {
    height: 75%;
    width: auto;
    margin: auto 0;
}
.login-body .login-panel {
    padding: 70px 36px;
    position: relative;
    margin: 0 auto;
    width: 350px;
    height: 400px;
    text-align: center;
    background-color: white;
    top: 30%;
}
.login-body .login-panel img {
    height: 30%;
    width: auto;
    margin-bottom: 54px;
}
.login-body .login-panel .p-inputtext {
    width: 100%;
    margin: 6px 0;
}
.login-body .login-panel .checkbox-container {
    padding: 6px 0 20px 0;
}
.login-body .login-panel .checkbox-container .remember-me {
    float: left;
}
.login-body .login-panel .checkbox-container .remember-me span:not(.p-checkbox-icon) {
    margin-left: 0.5em;
    font-size: 12px;
    color: #8a8a8a;
    vertical-align: middle;
}
.login-body .login-panel .checkbox-container .p-button {
    float: right;
}
.login-body .login-panel .separator {
    height: 1px;
    width: 100%;
    background-color: #E2E2E2;
    display: inline-block;
    margin: 10px 0;
}
.login-body .login-panel .subinfo {
    text-decoration: none;
    color: #2D8EE3;
}
.login-body .login-panel .subinfo span {
    font-size: 14px;
}

.topbar-messages{
    position: absolute;
    right: 10px;
    top: 10px;
}
