


<div class="login-body">
    
    <div class="login-topbar">
        <a href="#" class="logo">
            <img src="assets/layout/images/ecuador-logo.png" alt="ecuador-layout"/>
        </a>
    </div>
    <div class="login-image">
        <div class="login-panel">
            <img src="assets/layout/images/ecuador-orange-logo.png" alt="ecuador-layout"/>
            <div class="p-col-12">
                <div class="input-wrapper">
                    <input type="text" autocomplete="off" placeholder="Usuario" pInputText class="p-inputtext p-component p-element">
                </div>
            </div>
            <div class="p-col-12">
                <div class="input-wrapper">
                    <input type="password" autocomplete="off" placeholder="contraseña" pInputText class="p-inputtext p-component p-element">
                </div>
            </div>
            <div class="checkbox-container">
                <div class="remember-me">
                    <p-checkbox binary="true" class="p-element" ng-reflect-binary="true"></p-checkbox>
                    <span>Mantener sesion</span>
                </div>
                <button type="button" pButton routerLink="/" class="p-element p-button p-component" >
                    <span class="p-button-label">Iniciar sesion</span>
                </button>
            </div>

            <div class="separator"></div>

            <a href="#" class="subinfo">
                <span>Olvidaste tu contraseña?</span>
            </a>

        </div>
    </div>
</div>