/* You can add global styles to this file, and also import other style files */

@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/prismjs/themes/prism-coy.css";
@import "assets/demo/flags/flags.css";
@import "assets/demo/documentation.scss";

/* Global topbar custom overrides */
.exception-body {
    .exception-topbar {
        background-color: #F8A800 !important;
        background-image: none !important;
    }
}
.login-body {
    .login-topbar {
        background-color: #F8A800 !important;
        background-image: none !important;
    }
}