$primaryColor:#E7C33A;
$primaryTextColor:#ffffff;

$topbarBgLeftColor:#E7C33A;
$topbarBgRightColor:#E7C33A;
$topbarSidebarButtonColor:#ffffff;
$topbarIconHoverBgColor:#E7C33A;
$topbarMenuHoverBgColor:#E7C33A;
$topbarProfileTextColor:#ffffff;
$activeSubMenuItemTextColor:$primaryColor;
$sidebarMenuItemActiveRouteTextColor:$primaryColor;
$sidebarMenuItemActiveRouteIconColor:$primaryColor;

@import '../../sass/layout/_layout';
