$primaryColor:#1C8177;
$primaryTextColor:#ffffff;

$topbarBgLeftColor:#1C8177;
$topbarBgRightColor:#1C8177;
$topbarSidebarButtonColor:#ffffff;
$topbarIconHoverBgColor:#1C8177;
$topbarMenuHoverBgColor:#1C8177;
$topbarProfileTextColor:#ffffff;
$activeSubMenuItemTextColor:$primaryColor;
$sidebarMenuItemActiveRouteTextColor:$primaryColor;
$sidebarMenuItemActiveRouteIconColor:$primaryColor;

@import '../../sass/layout/_layout';
